h1 {
  font-size: 40px;
  font-family: "Verdana", sans-serif;
  position: relative;
  width: 23%;
  padding: 5px;
  border-radius: 5px;
  border: 5px solid #442b8c;
  overflow: hidden;
}
h2 {
  font-family: "Verdana", sans-serif;
  position: relative;
  top: -15px;
  left: 3px;
}
.para-style-1 {
  font-size: 18px;
  font-family: "Verdana", sans-serif;
  text-align: justify;
  line-height: 1.4;
  margin-right: 20px;
  clear: left;
}
.para-style-2 {
  font-size: 18px;
  font-family: "Verdana", sans-serif;
  text-align: justify;
  line-height: 1.4;
  margin-right: 20px;
}

.frodo-ring-img {
  width: 25%;
  height: auto;
  float: left;
  margin-bottom: 15px;
  margin-right: 20px;
}
.frodo-osgiliath-img {
  width: 40%;
  height: auto;
  margin: 15px;
  float: right;
}
.frodo-sam-img {
  width: 40%;
  margin: 15px;
  height: auto;
  float: left;
}
