h1 {
  font-size: 60px;
  font-family: "Verdana", sans-serif;
  width: 23%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 5px solid #442b8c;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-size: 20px;
  font-family: "Verdana", sans-serif;
  margin-left: 40px;
}

ul {
  list-style-type: none;
  font-family: "Verdana", sans-serif;
}
a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.4;
}
a:hover {
  font-size: 22px;
  padding: 0 px;
  border-radius: 5px;
  border: 4px solid #442b8c;
}
